/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
// 0 ---------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  E   |  R   |  T  |   |  Y  |  U   |  I   |  O  |  P  | BSPC |
// | CTRL |  A  |  S  |ALT(D)| (F) |  G  |   |  H  | (J) |ALT(K)|  L  |  ;  |      |
// | SHFT |  Z  |  X  |  C   |  V   |  B  |   |  N  |  M   |  ,   |  .  |  /  | ESC  |
//                |    | MEH(SPC) | SHFT |   | CTRL | To(1)  | To(4)  |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E      &kp R      &kp T   &kp Y &kp U       &kp I          &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &mt LALT D &mt LGUI F &kp G   &kp H &mt RGUI J  &mt LALT K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C      &kp V      &kp B   &kp N &kp M       &kp COMMA      &kp DOT &kp FSLH &kp ESC
                  &sk LGUI &mt LS(LC(LALT)) SPACE  &sk LSHIFT    &sk RCTL &to 1 &to 4
                        >;
                };

                sym_layer {
                        label = "SYMBOL";
// 1 ---------------------------------------------------------------------------------------
// |  TAB | ESC |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  !  | BKSP | BKSP |
// | CTRL | TAB |  =  |  ’  |  ’  |  '  |   |  \  |  {  |  }  |  |  | ENTR |      |
// | SHFT |  ~  |  £  |  ”  |  ”  |  "  |   |  [  |  (  |  )  |  ]  | To(2)|      |
//                 | BKSP | To(0) | GUI |   | ALT | To(3) | To(4) |
                        bindings = <
   &trans &kp ESC   &kp AT     &kp HASH     &kp DLLR         &kp PRCNT         &kp CARET &kp AMPS &kp KP_MULTIPLY &kp EXCL &kp BSPC  &trans
   &trans &kp TAB   &kp EQUAL  &kp LA(RBRC) &kp LS(LA(RBRC)) &kp SINGLE_QUOTE  &kp BSLH  &kp LBRC &kp RBRC        &kp PIPE &kp ENTER &trans
   &trans &kp TILDE &kp LA(N3) &kp LA(LBRC) &kp LS(LA(LBRC)) &kp DOUBLE_QUOTES &kp LBKT  &kp LPAR &kp RPAR        &kp RBKT &to 2     &trans
                          	        &kp BSPC     &to 0   &kp LGUI      &kp RALT  &to 3   &to 4
                        >;
                };

                num_layer {
                        label = "NUMBER";
// 2 ---------------------------------------------------------------------------------------
// | TAB  |  ESC  |     |     |  +  |  -  |   |  _  |  7  |  8  |  9  | BKSP  |      |
// | CTRL |  BT1  | BT2 | BT3 |  *  |  /  |   |  =  |  4  |  5  |  6  | Enter |      |
// | SHFT | BTCLR | BT4 | BT5 |  %  |  .  |   |  0  |  1  |  2  |  3  | To(2) |      |
//                        | BKSP | To(0) | GUI |   | ALT | To(1) | To(4) |
                        bindings = <
   &trans &kp ESC      &trans       &trans       &kp PLUS         &kp MINUS     &kp UNDERSCORE &kp N7  &kp N8 &kp N9 &kp BSPC  &trans
   &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &kp KP_MULTIPLY  &kp KP_DIVIDE &kp EQUAL      &kp N4  &kp N5 &kp N6 &kp ENTER &trans
   &trans &bt BT_CLR &bt BT_SEL 3 &bt BT_SEL 4   &kp PERCENT      &kp DOT       &kp N0         &kp N1  &kp N2 &kp N3 &trans    &trans
                    	     &kp BSPC &to 0   &kp LGUI   &kp RALT   &to 1    &to 4
                        >;
                };

                nav_layer {
                        label = "NAV";
// 3 ---------------------------------------------------------------------------------------
// | TAB  | ESC |  ↖  |  ↑  |  ↗  |  Q  |   | PWin | PTab  |  NTab | NWin | BKSP  |     |
// | CTRL | TAB |  ←  |  ▣  |  →  |  W  |   |  ◄   |   ▼   |   ▲   |   ►  | ENTR  |     |
// | SHFT |  ~  |  ↙  |  ↓  |  ↘  |  H  |   |   R  | NScrn | PScrn |  Del | To(2) |     |
//             | Ctrl-Alt | To(0) |    |   | ALT | To(1) | To(4) |
                        bindings = <
   &trans  &kp ESC   &kp LC(LA(U))    &kp LC(LA(UP))    &kp LC(LA(I))     &kp Q   &kp LC(F2) &kp RS(RC(TAB))      &kp RC(TAB)           &kp RC(F3) &kp BSPC  &trans
   &trans  &kp TAB   &kp LC(LA(LEFT)) &kp LC(LA(ENTER)) &kp LC(LA(RIGHT)) &kp W   &kp LEFT   &kp DOWN             &kp UP                &kp RIGHT  &kp ENTER &trans
   &trans  &kp TILDE &kp LC(LA(J))    &kp LC(LA(DOWN))  &kp LC(LA(K))     &KP H   &kp R      &kp RC(RA(RG(LEFT))) &kp RC(RA(RG(RIGHT))) &kp DEL    &to 2     &trans
                    	     &kp BSPC &to 0   &kp LGUI   &kp RALT   &to 1    &to 4
                        >;
                };

                media_layer {
                        label = "MEDIA";
// 4 ---------------------------------------------------------------------------------------
// | TAB  |      | Mute | Vol- | Vol+ |      |   | scrl◄  | scrl▼ | scrl▲ | scrl►  |  mse3  |      |
// | CTRL | Prev | Next | NTrk | PTrk | Play |   | mse ◄  | mse ▼ | mse ▲ | mse ►  |  mse2  |      |
// | SHFT |      |      |  Br- |  Br+ | Stop |   | mseac0 | mse 1 | mse 2 | mseac1 | mseac2 |  ~   |
//                         |     |     |     |   | mse 1  | To(1) | To(4) |
                        bindings = <
   &trans  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &trans
   &trans &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &trans
   &trans &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &trans
                    	     &kp LGUI &to 0   &kp SPACE   &kp RET   &trans    &trans
                        >;
                };

                bt_layer {
                        label = "BLUETOOTH";
// 5 ---------------------------------------------------------------------------------------
// | TAB  |     |     |     |     |     |   |     |     |     |     |      |      |
// | CTRL |     |     |     |     |     |   |     | BT4 | BT5 |     |      |      |
// | SHFT |     |     |     |     |     |   |BTCLR| BT1 | BT2 | BT3 |      |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &trans    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &trans
   &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &trans  &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &trans &trans
                          	        &kp LGUI     &to 0       &kp SPACE      &kp RET  &trans   &to 4
                        >;
                };
        };
};